.web-studio-logo {
    /* margin-right: 93px; */
    font-family: Raleway;
    color: var(--textcolor);
    font-size: 26px;
    font-weight: 700;
}

.page-logo-header {
    margin-right: 93px; 
}


.web-studio-logo:hover, 
.web-studio-logo:focus {
    color: var(--textcolor);
}